table#solar-ppa-savings td {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    vertical-align: middle;
}

table#solar-ppa-savings td[data-cell^="A"] {
    display: none;
}

table#solar-ppa-savings td[data-cell^="D"],
table#solar-ppa-savings td[data-cell^="G"] {
    width: 1px;
}

table#solar-ppa-savings td[data-cell^="C"],
table#solar-ppa-savings td[data-cell^="F"],
table#solar-ppa-savings td[data-cell^="I"] {
    text-align: right;
}

table#solar-ppa-savings [type="text"] {
    margin: 2px auto;
    height: 20px;
    font-size: 12px;
    text-align: right;
    width: 100px;
}

.sps-bgred {
    background-color: red;
}

.sps-bgblue {
    background-color: blue;
}

.sps-bggreen {
    background-color: green;
}

.sps-bglightblue {
    background-color: #c9daf8;
}

.sps-textcenter {
    text-align: center;
}

.sps-bold {
    font-weight: bold;
}

.sps-textwhite {
    color: white;
}

/* henri */

.sps label,
.sps a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.2s;
    border-bottom: 5px solid rgba(142, 68, 173, 0.2);
    padding: 3px 2px;
}

.sps label:hover,
.sps a:hover {
    border-bottom-color: #9b59b6;
}

.sps {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr 1fr;
}

.sps input[type=radio] {
    display: none;
}

.sps label.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #0b507f;
    background: #ecf0f1;
    user-select: none;
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;
}

.sps input[type=radio]:checked+.page+label.nav {
    background: #0b507f;
    color: #ffffff;
    padding-left: 20px;
}

.sps input[type=radio]:checked+.page+label.nav span {
    padding-left: 20px;
}

.sps input[type=radio]:checked+.page+label.nav svg {
    opacity: 1;
}

.sps label.nav span {
    padding-left: 0px;
    position: relative;
}

.sps label.nav svg {
    left: 0;
    top: -3px;
    position: absolute;
    width: 15px;
    opacity: 0;
    transition: opacity 0.2s;
}

.sps .page {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 3;
    /* padding: 0px 20px; */
    display: flex;
    align-items: center;
}

.sps .page-contents>* {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;
}

.sps .page-contents>*:nth-child(1) {
    transition-delay: 0.4s;
}

.sps .page-contents>*:nth-child(2) {
    transition-delay: 0.6s;
}

.sps .page-contents>*:nth-child(3) {
    transition-delay: 0.8s;
}

.sps .page-contents>*:nth-child(4) {
    transition-delay: 1s;
}

.sps .page-contents>*:nth-child(5) {
    transition-delay: 1.2s;
}

.sps .page-contents>*:nth-child(6) {
    transition-delay: 1.4s;
}

.sps .page-contents>*:nth-child(7) {
    transition-delay: 1.6s;
}

.sps .page-contents>*:nth-child(8) {
    transition-delay: 1.8s;
}

.sps .page-contents>*:nth-child(9) {
    transition-delay: 2s;
}

.sps .page-contents>*:nth-child(10) {
    transition-delay: 2.2s;
}

.sps .page-contents>*:nth-child(11) {
    transition-delay: 2.4s;
}

.sps .page-contents>*:nth-child(12) {
    transition-delay: 2.6s;
}

.sps .page-contents>*:nth-child(13) {
    transition-delay: 2.8s;
}

.sps .page-contents>*:nth-child(14) {
    transition-delay: 3s;
}

.sps .page-contents>*:nth-child(15) {
    transition-delay: 3.2s;
}

.sps .page-contents>*:nth-child(16) {
    transition-delay: 3.4s;
}

.sps .page-contents>*:nth-child(17) {
    transition-delay: 3.6s;
}

.sps .page-contents>*:nth-child(18) {
    transition-delay: 3.8s;
}

.sps .page-contents>*:nth-child(19) {
    transition-delay: 4s;
}

.sps .page-contents>*:nth-child(20) {
    transition-delay: 4.2s;
}

.sps input[type=radio]+.page {
    transition: transform 0.2s;
    transform: translateX(100%);
}

.sps input[type=radio]:checked+.page {
    transform: translateX(0%);
}

.sps input[type=radio]:checked+.page .page-contents>* {
    opacity: 1;
    transform: translateY(0px);
}

.sps .page-contents {
    max-width: 100%;
    /* width: 500px; */
    /* margin: 0 auto; */
}