.solar-ppa-savings table td {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    vertical-align: middle;
}

.solar-ppa-savings table td[data-cell^="A"] {
    display: none;
}

.solar-ppa-savings table td[data-cell^="D"],
.solar-ppa-savings table td[data-cell^="G"] {
    width: 1px;
}

.solar-ppa-savings table td[data-cell^="C"],
.solar-ppa-savings table td[data-cell^="F"],
.solar-ppa-savings table td[data-cell^="I"] {
    text-align: right;
}

.solar-ppa-savings table [type="text"] {
    margin: 2px auto;
    height: 20px;
    font-size: 12px;
    text-align: right;
    width: 100px;
}

.sps-bgred {
    background-color: red;
}

.sps-bgblue {
    background-color: blue;
}

.sps-bggreen {
    background-color: green;
}

.sps-bglightblue {
    background-color: #c9daf8;
}

.sps-textcenter {
    text-align: center;
}

.sps-textright {
    text-align: right;
}

.sps-bold {
    font-weight: bold;
}

.sps-textwhite {
    color: white;
}

/* mobile responsive */
.solar-ppa-savings {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
}

.solar-ppa-savings table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.solar-ppa-savings th,
.solar-ppa-savings td {
    padding: 8px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 768px) {

    .solar-ppa-savings th,
    .solar-ppa-savings td {
        padding: 4px;
        font-size: 14px;
    }
}